<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="100">
            <label>Magenest</label>
        </tab>
        <section id="movie" translate="label" type="text"
                 sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Movie</label>
            <tab>magenest</tab>
            <resource>Magenest_Movie::config_movie</resource>
            <group id="moviepage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="text_field" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Field</label>
                </field>
                <label>Movie configuration</label>
                <field id="view_list" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Yes/No_Field_Movie</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="custom_select" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Select Field</label>
                    <source_model>Magenest\Movie\Block\System\Config\Form\Field\Show</source_model>
                </field>
                <field id="movie_count" translate="label" type="checkboxes" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Movie Count</label>
                    <source_model>Magenest\Movie\Block\System\Config\Form\Field\MovieCount</source_model>
                </field>
<!--                <field id="actor_count" translate="label" type="checkboxes" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">-->
<!--                    <label>Actor Count</label>-->
<!--                    <source_model>Magenest\Movie\Block\System\Config\Form\Field\ActorCount</source_model>-->
<!--                </field>-->
            </group>
        </section>
    </system>
</config>
