<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Actor -->
    <!-- Create our type ActorGridDataProvider -->
    <virtualType name="ActorGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magenest\Movie\Model\Resource\MagenestActor\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ActorGridFilterPool</argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>

    <!-- Create our type ActorGridFilterPool -->
    <virtualType name="ActorGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Type for movie_actor_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="movie_actor_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Grid\MagenestActor\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Simulate our class Magenest\Movie\Model\ResourceModel\Grid\MagenestActor\Collection -->
    <virtualType name="Magenest\Movie\Model\ResourceModel\Grid\MagenestActor\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\MagenestActor</argument>
        </arguments>
    </virtualType>

    <!-- Director -->
    <!-- Create our type DirectorGridDataProvider -->
    <virtualType name="DirectorGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magenest\Movie\Model\Resource\MagenestDirector\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DirectorGridFilterPool</argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>

    <!-- Create our type DirectorGridFilterPool -->
    <virtualType name="DirectorGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Type for movie_director_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="movie_director_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Grid\MagenestDirector\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Simulate our class Magenest\Movie\Model\ResourceModel\Grid\MagenestDirector\Collection -->
    <virtualType name="Magenest\Movie\Model\ResourceModel\Grid\MagenestDirector\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\MagenestDirector</argument>
        </arguments>
    </virtualType>

    <!-- Movie -->
    <!-- Create our type MovieGridDataProvider -->
    <virtualType name="MovieGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magenest\Movie\Model\Resource\MagenestMovie\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MovieGridFilterPool</argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>

    <!-- Create our type MovieGridFilterPool -->
    <virtualType name="MovieGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Type for movie_movie_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="movie_movie_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Grid\MagenestMovie\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Simulate our class Magenest\Movie\Model\ResourceModel\Grid\MagenestMovie\Collection -->
    <virtualType name="Magenest\Movie\Model\ResourceModel\Grid\MagenestMovie\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\MagenestMovie</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="Change_Product_Image_Cart" type="Magenest\Movie\Plugin\Cart\ImageItem" sortOrder="1"/>
    </type>
</config>
